#carouselLanding{
  .carousel-item{
    @include media-breakpoint-up(md) { 
    height: calc(100vh - 67px);
    }
  }
}

.carousel-caption{
  bottom: 0 !important;
  background: rgba(#000000,.7);
}